<div class="wrap">
	<div class="mat-div">
		<label for="first-name" class="mat-label">First Name</label>
		<input type="text" class="mat-input" id="first-name">
	</div>
</div>

<div class="wrap select">
	<label>Select Menu
		<select>
			<option value="husker">Husker</option>
			<option value="starbuck">Starbuck</option>
			<option value="hotdog">Hot Dog</option>
			<option value="apollo">Apollo</option>
		</select>
	</label>
	<div class="arrow">&or;</div>
</div>

<div class="wrap">
<fieldset class="fieldset">
  <legend>Check these out</legend>
	<input id="checkbox12" type="checkbox"><label for="checkbox12">Checkbox 1</label><br>
	<input id="checkbox22" type="checkbox"><label for="checkbox22">Checkbox 2</label><br>
  <input id="checkbox32" type="checkbox"><label for="checkbox32">Checkbox 3</label>
</fieldset>
</div>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
