<div class="dic-bg">
	<div class="breadcr">
		<a href="#">Справочник</a> >
	</div>
	<div class="razdel">
		<a class="button active">Все разделы</a>
		<div class="small button-group">
			<a class="button">Сотрудник</a>
			<a class="button">Подразделение</a>
			<a class="button">Группа</a>
			<a class="button">Роль</a>
			<a class="button">Поисковое слово</a>
		</div>
	</div>
	<input type="text" class="search-focus" id="spr" placeholder="Искать в справочнике" />
	<div class="results">
		<a class="result" href="#">First</a>
	
	</div>
</div>
