<div class="e-list">
			<h4>Этапы</h4>
			<button class="button">Создать новый</button>
			<ul id="off-etap" class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
				<li id="off-fol1" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
					<a href="" class="accordion-title"><span>Юридический департамент</span></a>
					<ul id="off-etap1" class="list accordion-content" data-tab-content>
						<li><a href="#" data-close class="choose1">Название этапа 1</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 2</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 3</a></li>
					</ul>
				</li>
				<li id="off-fol2" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
					<a href="" class="accordion-title" ><span>Финансовый департамент</span></a>
					<ul id="off-etap2" class="list accordion-content" data-tab-content>
						<li><a href="#" data-close class="choose1">Название этапа 1</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 2</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 3</a></li>
					</ul>
				</li>
				<li id="off-fol3" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
					<a href="" class="accordion-title" ><span>Оформление</span></a>
					<ul id="off-etap3" class="list accordion-content" data-tab-content>
						<li><a href="#" data-close class="choose1">Название этапа 1</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 2</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 3</a></li>
					</ul>
				</li>
				<li id="off-fol4" class="accordion-item" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
					<a href="" class="accordion-title" ><span>Смешанные этапы</span></a>
					<ul id="off-etap4" class="list accordion-content" data-tab-content>
						<li><a href="#" data-close class="choose1">Название этапа 1</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 2</a></li>
						<li><a href="#" data-close class="choose1">Название этапа 3</a></li>
					</ul>
				</li>
				<li id="off-fol5" class="accordion-item" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
					<a href="" class="accordion-title" ><span>Этапы с подписанием</span></a>
					<ul id="off-etap5" class="list accordion-content" data-tab-content>
						<li><a href="#" class="choose1">Название этапа 1</a></li>
						<li><a href="#" class="choose1">Название этапа 2</a></li>
						<li><a href="#" class="choose1">Название этапа 3</a></li>
					</ul>
				</li>
				<li id="off-fol6" class="accordion-item" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
					<a href="" class="accordion-title" ><span>Этапы с визированием</span></a>
					<ul id="off-etap6" class="list accordion-content" data-tab-content>
						<li><a href="#" class="choose1">Название этапа 1</a></li>
						<li><a href="#" class="choose1">Название этапа 2</a></li>
						<li><a href="#" class="choose1">Название этапа 3</a></li>
					</ul>
				</li>
			</ul>
</div>
