<div class="m-list">
	<h4>Маршруты</h4>
	<button class="button">Создать новый</button>
	<ul id="off-marsh" class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
		<li id="off-fold1" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
			<a href="" class="accordion-title"><span>Коммерческие маршруты</span><image src="assets/img/trash.png" class="edit hide" data-toggle="off-fold1"/></a>
			<ul id="off-marsh1" class="list accordion-content" data-tab-content>
				<li><a href="#" class="choose">Базовый маршрут</a></li>
				<li><a href="#" class="choose">Простое согласование</a></li>
				<li><a href="#" class="choose">Договоры до 100 тыс.</a></li>
			</ul>
		</li>
		<li id="off-fold2" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
			<a href="" class="accordion-title" ><span>Согласования с юристами</span><image src="assets/img/trash.png" class="edit hide" data-toggle="off-fold2"/></a>
			<ul id="off-marsh2" class="list accordion-content" data-tab-content>
				<li><a href="#" class="choose">Базовый маршрут</a></li>
				<li><a href="#" class="choose">Простое согласование</a></li>
				<li><a href="#" class="choose">Договоры до 100 тыс.</a></li>
			</ul>
		</li>
		<li id="off-fold3" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
			<a href="" class="accordion-title" ><span>С акционерами</span><image src="assets/img/trash.png" class="edit hide" data-toggle="off-fold3"/></a>
			<ul id="off-marsh3" class="list accordion-content" data-tab-content>
				<li><a href="#" class="choose">Базовый маршрут</a></li>
				<li><a href="#" class="choose">Простое согласование</a></li>
				<li><a href="#" class="choose">Договоры до 100 тыс.</a></li>
			</ul>
		</li>
	</ul>
</div>
<a href="#" class="back">На главную</a>
