<div class="m-list">
	<h4>Маршруты</h4>
	<button class="button">Создать новый</button>
	<ul id="off-marsh" class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
		<li id="off-fold1" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
			<a href="" class="accordion-title"><span>ОРД</span><image src="assets/img/trash.png" class="edit hide" data-toggle="off-fold1"/></a>
			<ul id="off-marsh1" class="list accordion-content" data-tab-content>
				<li><a href="#" class="choos"><span data-close>Приказ по подразделению</span><img src="{{root}}assets/img/info.png" data-toggle="infoList" class="info" data-tooltip title="Где используется" /></a>
					<ul id="infoList" class="infoList hide-my" data-toggler=".hide-my">
						<li>Документ 1</li>
						<li>Документ 2</li>
						<li>Вид карточки 1</li>
						<li>Вид карточки 2</li>
					</ul>
				</li>
				<li><a href="#" class="choos"><span data-close>Приказ по министерству</span><img src="{{root}}assets/img/info.png" data-toggle="infoList1" class="info" data-tooltip title="Где используется" /></a>
					<ul id="infoList1" class="infoList hide-my" data-toggler=".hide-my">
						<li>Документ 1</li>
						<li>Документ 2</li>
						<li>Вид карточки 1</li>
						<li>Вид карточки 2</li>
					</ul>
				</li>
				<li><a href="#" class="choos"><span data-close>Распоряжение по подразделению</span><img src="{{root}}assets/img/info.png" data-toggle="infoList2" class="info" data-tooltip title="Где используется" /></a>
					<ul id="infoList2" class="infoList hide-my" data-toggler=".hide-my">
						<li>Документ 1</li>
						<li>Документ 2</li>
						<li>Вид карточки 1</li>
						<li>Вид карточки 2</li>
					</ul>
				</li>
				<li><a href="#" class="choos"><span data-close>Распоряжение по министерству</span><img src="{{root}}assets/img/info.png" data-toggle="infoList3" class="info" data-tooltip title="Где используется" /></a>
					<ul id="infoList3" class="infoList hide-my" data-toggler=".hide-my">
						<li>Документ 1</li>
						<li>Документ 2</li>
						<li>Вид карточки 1</li>
						<li>Вид карточки 2</li>
					</ul>
				</li>
			</ul>
		</li>
		<li id="off-fold2" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
			<a href="" class="accordion-title" ><span>Служебки</span><image src="assets/img/trash.png" class="edit hide" data-toggle="off-fold2"/></a>
			<ul id="off-marsh2" class="list accordion-content" data-tab-content>
				<li><a href="#" data-close class="choos">Служебная записка (за подписью ДД)</a></li>
				<li><a href="#" data-close class="choos">Заявление на отпуск</a></li>
				<li><a href="#" data-close class="choos">Заявка на командировку</a></li>
				<li><a href="#" data-close class="choos">Распоряжение по Министерству</a></li>
			</ul>
		</li>
		<li id="off-fold3" class="accordion-item is-active" data-accordion-item data-toggler data-animate="slide-in-right slide-out-left">
			<a href="" class="accordion-title" ><span>Договоры</span><image src="assets/img/trash.png" class="edit hide" data-toggle="off-fold3"/></a>
			<ul id="off-marsh3" class="list accordion-content" data-tab-content>
				<li><a href="#" data-close class="choos">Базовый маршрут</a></li>
				<li><a href="#" data-close class="choos">Крупные сделки</a></li>
				<li><a href="#" data-close class="choos">Договоры субподряда</a></li>
			</ul>
		</li>
	</ul>
</div>
<a href="index.html" data-close class="back">На главную</a>
