<div class="offhd">Мини-шаблоны</div>
<ul class="tempList">
	<li data-close onclick="addMini(1)"><a href="#"><img src="{{root}}assets/img/temp1.png" alt="">Старт-этап-финиш</a></li>
	<li data-close onclick="addMini(2)"><a href="#"><img src="{{root}}assets/img/temp2.png" alt="">Параллельные этапы</a></li>
	<li data-close onclick="addMini(3)"><a href="#"><img src="{{root}}assets/img/temp3.png" alt="">Этапы с консолидацией</a></li>
	<li data-close onclick="addMini(4)"><a href="#"><img src="{{root}}assets/img/temp5.png" alt="">Вилка типа у</a></li>
</ul>
