<div class="off-hd">Мини-шаблоны</div>
<ul class="tempList">
	<li><a href="#" data-close onclick="addMini(1)"><img src="{{root}}assets/img/temp1.png" alt="">Старт-этап-финиш</a></li>
	<li><a href="#" data-close onclick="addMini(2)"><img src="{{root}}assets/img/temp2.png" alt="">Параллельные этапы</a></li>
	<li><a href="#" data-close onclick="addMini(3)"><img src="{{root}}assets/img/temp3.png" alt="">Этапы с консолидацией</a></li>
	<!-- <li><a href="#" data-close onclick="addMini(4)"><img src="{{root}}assets/img/temp4.png" alt="">Вилка типа л</a></li> -->
	<li><a href="#" data-close onclick="addMini(4)"><img src="{{root}}assets/img/temp5.png" alt="">Вилка типа у</a></li>
</ul>
