{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Конструктор согласований Доксвижн</title>
		
		<!-- <link rel="stylesheet" href="{{root}}assets/vis/vis.css"> -->
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
	</head>
	<body>
		<div class="off-canvas-wrapper">
			<div class="off-canvas position-left" id="offCanvasTemplate" data-off-canvas>
				<button class="close-button" data-close aria-label="Close panel" type="button">
					<span aria-hidden="true">&times;&nbsp;</span>
				</button>
				<div class="esc">ESC - закрыть панель</div>
					{{> quick-template}}
			</div>
			<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
				<button class="close-button" data-close aria-label="Close panel" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				{{> marsh-list}}
			</div>
			<div class="off-canvas position-right" data-transition="overlap" id="offCanvasRight" data-off-canvas>
				<button class="close-button" data-close aria-label="Close panel" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				{{> etap-list}}
			</div>
			<div class="off-canvas-content" data-off-canvas-content>

				{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
				{{> body}}

			</div>
		</div>

		<script src="{{root}}assets/vis/vis.min.js"></script>
		<!-- <script src="{{root}}assets/vis/vis.js"></script> -->
		<script src="{{root}}assets/js/app.js"></script>
    <script src="{{root}}assets/vis/data.js"></script>
    <script src="{{root}}assets/vis/editor.js"></script>

	</body>
</html>
